boto==2.39.0
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.9.1
django-appconf==1.0.1
django-bootstrap-pagination==1.5.1
django-bootstrap3==6.2.2
django-etc==0.7.2
django-geoposition==0.2.2
django-sitegate==0.10.3
django-storages==1.1.8
django-toolbelt==0.0.1
django-widget-tweaks==1.4.1
gunicorn==19.4.5
Pillow==3.1.0
psycopg2==2.6.1
six==1.10.0
static3==0.6.1
wheel==0.24.0
